.app-header {
      .header-container {
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-between;
        background: linear-gradient(-225deg, #d9d4d9 0%, #b0bdd4 100%); 
        min-width: 380px;

        h1 {
          margin: 0;
          font-family: eurofurence, sans-serif;
          font-size: 2rem;
        }

        .app-nav {
          display: flex;
          gap: 20px;
          color: $clr2;
          align-items: center;

          a {
            text-decoration: none;
            color: $clr2; 
            font-weight: bold;
            font-size: 1rem;
            transition: color 0.3s ease, transform 0.3s ease;

            &:hover {
              color: $clr4; 
              transform: scale(1.05); 
            }

            &.active {
              color: $clr3; 
              text-decoration: underline; 
            }
          }
        }
      }

      .login-signup {
        margin: 10px auto;

        .btns {
          display: flex;
          gap: 12px;
          justify-content: end;

          button {
            padding: 8px;
            font-size: 1rem;
            border: 1px solid $clr5;
            border-radius: 4px;
            cursor: pointer;
            background-color: transparent;
            color: $clr1;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;

            &:hover {
              background-color: $clr5;
              color: $clr2;
              border-color: $clr5;
            }
          }
        }
      }
    }

