.app-header {
      .header-container {
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-between;
        background: linear-gradient(-225deg, #d9d4d9 0%, #b0bdd4 100%); 
        min-width: 380px;

        h1 {
          margin: 0;
          font-family: eurofurence, sans-serif;
          font-size: 2rem;
        }

        .app-nav {
          display: flex;
          gap: 20px;
          color: $gray1;
          align-items: center;

          a {
            text-decoration: none;
            color: $gray1; 
            font-weight: bold;
            font-size: 1rem;
            transition: color 0.3s ease, transform 0.3s ease;

            &:hover {
              color: $gray3; 
              transform: scale(1.05); 
            }

            &.active {
              color: $gray3; 
              text-decoration: underline; 
            }
          }
        }
      }
    }

