.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding-block: 1em;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.app-nav {
    display: flex;
    gap: 15px;
}
