:root {
  --clr1: #46B1C9;
  --clr2: #F2E2D2;

  --clr1bg: #d2e1e2;
  --clr1bg-light: #BCC1BA;
  --clr2bg: #84C0C6;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 